<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<link rel="stylesheet" href="../static/css/main.css"
	th:href="@{/css/main.css}" />
<meta charset="UTF-8" />
<title>用户展示界面</title>
</head>
<body>
	<div id="container">
		<div id="headContainer" class="layout">
			<h2>SpringBoot示例程序</h2>
		</div>
		<div id="leftContainer" class="layout">
			<ul class="list">
				<li>示例连接地址1</li>
				<li>示例连接地址2</li>
			</ul>
		</div>
		<div id="contentContainer" class="layout">
			<iframe></iframe>
		</div>
	</div>
</body>
</html>