<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<link rel="stylesheet" href="../static/css/main.css"
	th:href="@{/css/main.css}" />
<script src="../static/js/jquery-3.2.1.min.js"
	th:src="@{/js/jquery-3.2.1.min.js}"></script>
<meta charset="UTF-8" />
<title>用户展示界面</title>
</head>
<body>
	<div id="container">
		<div id="headContainer" class="layout">
			<table>
				<tr>
					<td width="60%"><h2>SpringBoot示例程序</h2></td>
					<td width="40%">
						<form th:action="@{/logout}" method="post">
							<input class="logout" type="submit" value="注销" />
						</form>
					</td>
				</tr>
			</table>
		</div>
		<div id="leftContainer" class="layout">
			<ul class="list">
				<li>示例连接地址1</li>
				<li>示例连接地址2</li>
			</ul>
		</div>
		<div id="contentContainer" class="layout">
			<iframe></iframe>
		</div>
	</div>
</body>
</html>